@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-body: #f8fafc;
    --sidebar-width: 16rem; /* 64px */
    --header-height: 4rem; /* 64px */
  }

  body {
    @apply bg-slate-50 text-slate-900 font-sans antialiased;
  }
}